<% layout('layout/boilerplate') %>
<div class="grow bg-gray-100 flex flex-col">
    <div class="flex justify-between">
        <div class="text-4xl ml-10 mt-5 font font-pennyPlan">
            <img src="../assests/images/pie-chart.png" alt="" class=" w-28">
            PennyPlan
        </div>
        <span class="text-xl bg-white mt-5 mr-32 p-3 rounded-2xl shadow-md">This month</span>
    </div>

    <div>
        <%- include('./components/wallet') %>
    </div>
    <div>
        <%- include('./components/transaction') %>
    </div>

</div>
<div class=" w-[450px]">
        <%- include('./components/recents') %>
</div>